$primary-color: hsl(356, 95%, 45%);
$hover-state-color: hsl(0, 100%, 62%);

#projects{
	padding-top: 30px;
	margin-bottom: 15px;
}

#projectsIcon{
	width: 1.5em;
}

#projectHeader{
	text-align: center;

	h1{
		display: inline;
	}
}

#projectImages{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
	justify-content: center;
}

.projectImage{
	position: relative;

	img{
		width: 150px;
		height: auto;
		display: block;
	}
}

#allProjects{
	text-align: center;
	margin-bottom: 25px;
}

.imgDesc{
	display: none;
}

.paintbrush{
	color: $primary-color;
}

#projectsLink{
	color: $primary-color;
}

#services{
	margin-bottom: 15px;
}

#servicesHeader{
	text-align: center;

	span{
		color: $primary-color;
		font-size: 1.5em;
	}

	h1{
		display: inline;
	}
}

#serviceContent{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
		-webkit-box-pack: justify;
			justify-content: space-around;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#serviceNav{
	width: 40%;
}

#serviceDesc{
	width: 50%;
}

#serviceImg{
	display: none;
	background-size: cover;
	background-position: center;
}

#serviceNav{
	ul{
		padding-left: 0px;
	}

	li{
		list-style-type: none;
		padding: 8px 16px;
		display: block;

		&:hover{
			background-color: $primary-color;
			cursor: pointer;
			color: hsl(0, 0%, 100%);
		}
	}
}

#serviceBtn{
	background-color: $primary-color;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
	padding: 5px 24px;
}

#reviewsIcon{
	font-size: 45px;
	color: $primary-color;
}

#reviews{
	padding-top: 25px;
	margin-bottom: 25px;
}

#reviewsHeader{
	text-align: center;

	span{
		font-size: 1.5em;
	}

	h1{
		display: inline;
	}
}

#reviewItems{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

.reviewItem{
	max-width: 100%;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	margin-bottom: 25px;
}

.reviewHeader{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.unratedStars{

	height: 32px;
	width: 5 * 32px;

	background-size: auto 200%;
	background-repeat: repeat-x;
	background-position: bottom left;
}

.ratedStars{
	height: 32px;
	width: 83%;

	background-size: auto 200%;
	background-repeat: repeat-x;
	background-position: top left;
}

.img-rounded{
	width: 70px;
	height: 70px;
	-o-object-fit: cover;
	   object-fit: cover;
	border-radius: 50%; 
}

.reviewIcon{
	margin-right: 10px;
}

#allReviews{
	text-align: center;
	a{
		color: $primary-color;
	}
}

#quotations{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	margin-bottom: 35px;
}

#quotationInfo{
	width: 100%;
	padding: 20px;
	text-align: center;
	-webkit-box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
			box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19); 
}

#quotationImg{
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;
}

#quotationsHeader{
	width: 100%;
	text-align: center;

	span{
		font-size: 1.5em;
		color: $primary-color;
	}

	h1{
		display: inline;
	}
}

#quotationBtn{
	background-color: $primary-color;
	color: hsl(0, 0%, 100%);
	cursor: pointer;
	border: none;
	padding: 5px 24px;
}

#companyInfo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	margin-bottom: 15px;
}

.infoSection{
	width: 100%;
	text-align: center;
}

.infoHeader{
	display: inline;
}

.infoIcon{
	font-size: 1.5em;
	color: $primary-color;
}

footer{
	display: grid;
	justify-items: center;
	text-align: center;
	line-height: 1.5em;
}

.footerItem{
	width: 80%;
	margin-bottom: 15px;
}

.footerHeader{
	display: inline;
}

#contactInfoFooter{
	a{
		color: $primary-color;
	}
}

.footerIcon{
	color: $primary-color;
	font-size: 1.5em;
}

#VCALogo{
	width: 30%;
	vertical-align: top;
}

#serviceGuaranteeLogo{
	width: 25%;
}

@media (min-width: 600px) and (max-width: 1920px){
	
	#servicesHeader{
		span{
			margin: 0 7px;
			font-size: 2.5em;
		}
	} 

	#projectImages{
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
		margin-bottom: 20px;
	}

	.projectImage:hover .imgDesc{
		opacity: 0.7;
	}

	.imgDesc{
		display: initial;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: auto;
		width: 100%;
		opacity: 0;
		-webkit-transition: .5s ease;
		transition: .5s ease;
		background-color: rgb(255, 255, 255);
		border: 1px solid $primary-color; 
	}

	.imgDescText{
		font-weight: bolder;
		color: $primary-color;
		position: absolute;
		top: 65%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	#projectsIcon{
		width: 2.5em;
		vertical-align: bottom;
	}

	#projectHeader{
		text-align: left;
	}

	.projectImage{
		img{
			width: 250px;
			height: auto;
		}
	} 

	#projectsLink{
		float: right;
	}

	.paintbrush{
		font-size: 45px;
		position: absolute;
		top: 25%;
		left: 40%;
		-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
	}

	#servicesHeader {
		display: inline;
	}

	#serviceNav, #serviceDesc, #serviceImg{
		width: 30%;
	}

	#serviceImg{
		display: initial;
		margin: 40px;
	}

	#reviewsHeader{
		text-align: left;

		span {
			font-size: 2.5em;
		}
	}

	.reviewItem{
		max-width: 30%;
	}
	
	#allReviews{
	a{
		float: right;
		text-align: left;
	}
}

	#quotations{
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
		-ms-flex-line-pack: center;
			align-content: center;
	}

	#quotationsHeader{
		text-align: left;

		span{
			font-size: 2.5em;
		}
	}

	#quotationInfo{
		width: 45%;
		padding: 10px;
		text-align: left;
	}

	#quotationBtn{
		float: right;
	}

	#quotationImg{
		width: 45%;
		height: auto;
	}

	.infoSection{
		width: 24%;
		text-align: left;
	}

	.infoIcon{
		font-size: 2.5em;
	}

	footer{
		grid-template-columns: repeat(4,1fr);
		justify-items: left;
		text-align: left;
		margin: 0px 25px;
	}

	#VCALogo{
		width: 50%;
	}

	#serviceGuaranteeLogo{
		width: 40%;
	}
}

// /* tablet portrait */
@media (min-width: 600px) and (max-width: 900px) {
	header{
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 15px;

		li{
			display:inline;
		}
	}

	#headerImage{
		grid-row-start: 1;
		grid-column: 1/5;
	}

	#brandLogo{
		max-width: 100%;
		height: auto;
	}

	#mainMenu{
		grid-row-start: 2;
		grid-column-start: 1;
		-ms-flex-item-align: center;
			align-self: center;
		justify-self: center;
		margin-top: 20px;
		font-size: 1.3em;
	}

	#contactInfo{
		grid-row-start: 3;
		
		img{
			width: 3%;
			height: auto;
		}
	}

	#search{
		grid-row-start: 4;
		grid-column-start: 1;
		-ms-flex-item-align: center;
			align-self: center;
			margin-top: 10px;
		text-align: center;

		input{
			width: 60%;
		}
	}

	main{
		margin: 0px;
	}

	.projectImage{
		img{
			width: 150px;
			height: auto;
		}
	}

	.imgDesc{
		display: none;
	}
	
	#serviceNav{
		width: 40%;
	}

	#serviceDesc{
		width: 50%;
	}

	#serviceImg{
		display: none;
	}

	.reviewItem{
		max-width: 100%;
		padding: 10px;
		text-align: center;
	}

	.reviewHeader{
		width: 40%;
		padding-top: 20px;
		margin: auto;
		justify-content: center;
	}

	#allReviews{
		text-align: center;
	}

	#quotations{
		margin-bottom: 35px;
	}

	#quotationImg{
		height: auto;
	}

	#companyInfo{
		justify-content: space-around;
	}

	.infoSection{
		width: 40%;
	}

	footer{
		grid-template-columns: repeat(2,0.5fr);
		justify-items: center;
		text-align: center;
		margin: 0px;
	}
}

/* tablet landscape   */
@media (min-width: 900px) and (max-width: 1200px) and (orientation: landscape) {
	
	.projectImage{
		img{
			width: 200px;
			height: auto;
		}
	}

	.imgDesc{
		display: none;
	}

	#serviceImg{
		display: initial;
	}

	#quotations{
		margin-bottom: 35px;
	}
}